.body__contacto{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    min-height: 100vh;
    width: 100%;
    background-color: white;

    
}

.formulario{
    background-color: rgba(230, 228, 228, 0.897);;
    padding-top: 150px;
    padding-bottom: 150px;
}

.form{
    background-color: rgba(128, 128, 128, 0.493);
    width: 90%;
    margin: auto;
    max-width: 450px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;  
}

.form__title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form__input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8rem 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__cta{
    font-family: inherit;
    font-size: 1rem;
    background-color: rgb(196, 104, 18);
    color: #fff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}

@media(max-width:450px){
    .form{
        padding: 3.5em 1em;
    }
}


